
      <footer class="footer-section">
         <h3 class="footer-logo">Sunnyside</h3>
            <ul class="footer-inner__links">
               <li><a href="#" class="footer-color">About</a></li>
               <li><a href="#" class="footer-color internal__links">Services</a></li>
               <li><a href="#" class="footer-color">Projects</a></li>
               <li><a href="#" class="footer-color">Contact</a></li>
            </ul>

         <div class="external__links">
            <a href="www.facebook.com"><img src="images/icon-facebook.svg" alt="face-book" class="ex-link__img"></a>


            <a href="www.instagram.com"><img src="images/icon-instagram.svg" alt="instagram" class="ex-link__img"></a>


            <a href="www.twitter.com"><img src="images/icon-twitter.svg" alt="" class="ex-link__img"></a>


            <a href="www.pinterest.com"><img src="images/icon-pinterest.svg" alt="pinterest" class="ex-link__img"></a>


         </div>
      </footer>
