      <nav class="page-nav">
         <div class="head__nav-bar">
            <h3 class="page-logo">sunnyside</h3>
            <ul class="nav-menu">
               <li><a href="#">About</a></li>
               <li><a href="#">Services</a></li>
               <li><a href="#">Projects</a></li>
               <li class="contact"><a href="#">CONTACT</a></li>
            </ul>
            <div class="menu">
               <img
                  class="open-menu"
                  src="images/icon-hamburger.svg"
                  alt="expand"
               />

               <img
                  class="close-menu"
                  src="images/xmark-solid.svg"
                  alt="close"
               />
            </div>
         </div>

         <div class="header-content">
            <h2 class="page-head">We are creatives</h2>
            <img
               class="header-svg"
               src="images/icon-arrow-down.svg"
               alt="arrow-down"
            />
         </div>
      </nav>