      <section class="grid section1">
         <div class="left__section1">
            <h2 class="sec__head">Transform your brand</h2>
            <p class="sec__body sec__body-ash">
               We are a full-service creative agency specializing in helping
               brands grow fast. Engage your clients through compelling visuals
               that do most of the marketing for you.
            </p>

            <a href="#" class="sec__link">LEARN MORE</a>
         </div>

         <div class="right__section1">
            <img
               src="images/desktop/image-transform.jpg"
               alt="section1-image"
               class="sec__img"
            />
         </div>
      </section>

      <section class="grid section2">
         <div class="left__section2">
            <img
               src="images/desktop/image-stand-out.jpg"
               alt="section2-image"
               class="sec__img"
            />
         </div>

         <div class="right__section2">
            <h2 class="sec__head">Stand out to the right audience</h2>
            <p class="sec__body sec__body-ash">
               Using a collaborative formula of designers, researchers,
               photographers, videographers, and copywriters, we’ll build and
               extend your brand in digital places.
            </p>
            <a href="#" class="sec__link">LEARN MORE</a>
         </div>
      </section>

      <section class="grid section3">
         <div class="left__section3">
            <!--             
            <img src="images/desktop/image-graphic-design.jpg" alt="section3-image" class="sec__img"> -->
            <div class="sec3-body sec3__left-body">
               <h2 class="sec__head">Graphic design</h2>
               <p class="sec__body">
                  Great design makes you memorable. We deliver artwork that
                  underscores your brand message and captures potential clients’
                  attention.
               </p>
            </div>
         </div>

         <div class="right__section3">
            <!-- <img src="images/desktop/image-photography.jpg" alt="section3-image" class="sec__img"> -->

            <div class="sec3-body sec3__right-body">
               <h2 class="sec__head">Photography</h2>
               <p class="sec__body">
                  Increase your credibility by getting the most stunning,
                  high-quality photos that improve your business image.
               </p>
            </div>
         </div>
      </section>

      <div class="attribution">
         Challenge by
         <a href="https://www.frontendmentor.io?ref=challenge" target="_blank"
            >Frontend Mentor</a
         >. Coded by <a href="#">Your Name Here</a>.
      </div>