<section class="testimonials-container">
   <h2 class="testimonial__head">Client testimonials</h2>
   <div class="testimonials">
      <div class="text-con">
         <img src="images/image-emily.jpg" alt="Emily R." class="con__img" />
         <p class="con__text">
            We put our trust in Sunnyside and they delivered, making sure our
            needs were met and deadlines were always hit.
         </p>

         <p class="con__name">Emily R.</p>
         <small class="con__post">Marketing Director</small>
      </div>
      <div class="text-con">
         <img src="images/image-thomas.jpg" alt="Thomas S." class="con__img" />
         <p class="con__text">
            Sunnyside’s enthusiasm coupled with their keen interest in our
            brand’s success made it a satisfying and enjoyable experience.
         </p>

         <p class="con__name">Thomas S.</p>
         <small class="con__post">Chief Operating Officer</small>
      </div>
      <div class="text-con">
         <img src="images/image-jennie.jpg" alt="Jennie F." class="con__img" />
         <p class="con__text">
            Incredible end result! Our sales increased over 400% when we worked
            with Sunnyside. Highly recommended!
         </p>

         <p class="con__name">Jennie F.</p>
         <small class="con__post">Business Owner</small>
      </div>
   </div>
</section>
